{% extends 'base.html' %}
{% block content %}
<h1>Residences</h1>

{% for residence in residences %}
<a href="{% url 'detail' residence.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ residence.address_line_1 }}</span>
            <!-- photo img code goes here -->
            <p>Address: {{ residence.address_line_1 }}, {{ residence.address_line_2 }}</p>
            <p>City: {{ residence.city }}</p>
            <p>State: {{ residence.state }}</p>
            <p>Zip: {{ residence.zip }}</p>
            <p>Dates: {{ residence.start_date }}-{{ residence.end_date }}</p>
        </div>
    </div>
  </a>
  {% endfor %}

{% endblock %}