{% extends 'base.html' %}
{% block content %}
<h1>Residences</h1>

{% for residence in residences %}
<a href="{% url 'residence_detail' residence.id %}">
    <div class="card">
        <div class="card-img-top">
            <img class = "streetview" src="{{ residence.static_streetview_url }}" alt="{{ residence.address_line_1 }} Photo">
            <img class ="map float-right" src="{{ residence.static_map_url }}" alt="{{ residence.address_line_1 }} Map View">  
        </div>
        <div class="card-body">
            <h5 class="card-title ">{{ residence.address_line_1 }}</h5>
            <p class="card-text mb-0">{{ residence.address_line_2 }}</p>
            <p class="card-text mb-0">City: {{ residence.city }}</p>
            <p class="card-text mb-0">State: {{ residence.state }}</p>
            <p class="card-text mb-0">Zip: {{ residence.zipcode }}</p>
            <p class="card-textmb-0">Dates: {{ residence.start_date }}-{{ residence.end_date }}</p>
        </div>
    </div>
  </a>
  {% endfor %}

{% endblock %}