{% extends 'base.html' %}
{% block content %}
<h1>Residences</h1>

{% for residence in residences %}
<a href="{% url 'residence_detail' residence.id %}">
    <div class="card">
        <div class="card-img-top">
            <img class = "streetview" src="{{ residence.static_streetview_url }}" alt="{{ residence.address_line_1 }} Photo">
            <img class ="map" src="{{ residence.static_map_url }}" alt="{{ residence.address_line_1 }} Map View">  
        </div>
        <div class="card-content">
            <span class="card-title">{{ residence.address_line_1 }}</span>
            <p>{{ residence.address_line_2 }}</p>
            <p>City: {{ residence.city }}</p>
            <p>State: {{ residence.state }}</p>
            <p>Zip: {{ residence.zipcode }}</p>
            <p>Dates: {{ residence.start_date }}-{{ residence.end_date }}</p>
        </div>
    </div>
  </a>
  {% endfor %}

{% endblock %}