{% extends 'base.html' %}
{% block content %}
<h1>Workplaces</h1>

{% for workplace in workplaces %}
<a href="{% url 'detail' workplace.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ workplace.company_name }}</span>
            <!-- photo img code goes here -->
            <p>Title: {{ workplace.employer_title }}</p>
            <p>Dates: {{ workplace.start_date }}-{{ workplace.end_date }}</p>
            <p>Address: {{ workplace.address_line_1 }}, {{ workplace.address_line_2 }}</p>
            <p>City: {{ workplace.city }}</p>
            <!-- <p>State: {{ workplace.state }}</p> -->
            <!-- <p>Zip: {{ workplace.zip }}</p> -->
            <p>Manager: {{ workplace.employer_name }}</p>
            <p>Manager Phone Number: {{ workplace.employer_number }}</p>
            <p>Manager e-mail: {{ workplace.employer_email }}</p>
        </div>
    </div>
  </a>
  {% endfor %}

{% endblock %}