{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Girassol|PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">    
    <link rel="icon" href="{% static 'img/mygration_logo_transparent.png'%}">

    <title>Mygration</title>
</head>
<body>
      <header>
        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo"><img id = "mygration-logo" alt="Mygration" src="{% static '/img/mygration_wordmark_transparent.png'%}"></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                  <li><a href="{% url 'residences_index' %}">View Homes</a></li>
                  <li><a href="{% url 'workplaces_index' %}">View Work Places</a></li>
                  <li><a href="{% url 'select_entry_form' %}">Add Place</a></li>
                  <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                  <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        </header>
      <main>
        {% block content %}
        {% endblock %}
      </main>
</body>
</html>