{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %}
<h1>Your Journey</h1>
{% else %}
<h1>Your Journey... is Ready to be Recorded</h1>
{% endif %}
<hr />
{% if user.is_authenticated %}
<div id="map"></div>
{% else %}
<img class = "photo-size" src="{% static '/img/sebastian-hietsch-RUJYUXwj3s0-unsplash.jpg'%}" alt="">
{% endif %}
<script>
    residences = "{{ residences | escapejs}}"
    residences = residences.replace(/'/g, '"');
    residencesObj = JSON.parse(residences)
    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsRenderer = new google.maps.DirectionsRenderer({ suppressMarkers: true });
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: { lat: 41.85, lng: -97.65 }
        });
        directionsRenderer.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsRenderer);
    }
    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        var waypts = [];
        residencesObj.forEach(function (residence) {
            waypts.push(
                {
                    location: `${residence.fields.latitude},${residence.fields.longitude}`,
                    stopover: true
                }
            );
        })
        directionsService.route({
            origin: waypts[0].location,
            destination: waypts[waypts.length - 1].location,
            waypoints: waypts,
            optimizeWaypoints: false,
            travelMode: 'DRIVING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsRenderer.setDirections(response);
                var route = response.routes[0];
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{DIRECTIONS_KEY}}&callback=initMap">
</script>
{% endblock %}