/* body {
    font-family: 'PT Sans', sans-serif;
} */

nav {
    background-color:#191975;
}

.btn {
    background-color:#9292e8;
    margin: 10vh;
}

.brand-logo{
    font-family: 'Girassol', cursive;
    letter-spacing: .1em;
}

.nav-wrapper {
    margin: 0 5vh
}

main {
    margin: 5vh 20vh;
}

.center {
    display: flex;
    align-items: center;
}