body {
    font-family: 'Roboto', sans-serif;
}

nav, .nav-link{
    background-color:#120C59;
    color: #ffffff;
}

.btn {
    background-color:#EB6E50;
    margin: 10vh;
}

.nav-wrapper {
    margin: 0 5vh;
}

main {
    margin: 5vh 20vh;
}

@media (max-width: 1024px) {
    main{
        margin: 10vh;
    }
}

@media (max-width: 420px) {
    main{
        margin: 5vh 5vh;
    }
}


.center {
    display: flex;
    justify-content: center;
}

#mygration-logo{
    height: 50px;
    margin: 9px;
}

.map, .streetview{
    width: 49%;
}

a {
    color: #000000;
}