/* body {
    font-family: 'PT Sans', sans-serif;
} */

nav {
    background-color:#120C59;
}

.btn {
    background-color:#EB6E50;
    margin: 10vh;
}

.brand-logo{
    font-family: 'Girassol', cursive;
    letter-spacing: .1em;
}

.nav-wrapper {
    margin: 0 5vh;
}

main {
    margin: 5vh 20vh;
}

.center {
    display: flex;
    justify-content: center;
}

#mygration-logo{
    height: 50px;
    margin: 9px;
}